<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zieleń Jest Nasza</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

    <script src="https://www.unpkg.com/proj4@2.9.2/dist/proj4-src.js"></script>
</head>
<body>
    <h1>Zieleń Jest Nasza</h1>
    <div id="map" style="height: 500px"></div>

    <script>
// EPSG:2180
let polishCoordinates = "+proj=tmerc +lat_0=0 +lon_0=19 +k=0.9993 +x_0=500000 +y_0=-5300000 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs +type=crs";

let map = L.map('map').setView([52.231714, 21.003478], 16);

const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);


const popup = L.popup();

function onMapClick(e) {
    let projectedCoordinates = proj4(polishCoordinates, [e.latlng.lng, e.latlng.lat]);
    let x = projectedCoordinates[0];
    let y = projectedCoordinates[1];

    let text = `x: ${x}, y: ${y}`;
    let loadingText = text + '<br>Loading...';
    popup
        .setLatLng(e.latlng)
        .setContent(loadingText)
        .openOn(map);

    fetch(`/query/desc/${x}/${y}`)
        .then(response => response.json())
        .then(data => {
            popup.setContent(text + '<br>' + data['description']);
        });

    let pipe_image = document.getElementById("pipe_image");
	pipe_image.src = `/query/image/${x}/${y}`;
}

map.on('click', onMapClick);
	</script>
    <img id="pipe_image" style="height: 500px; width: 500px"></img>
</body>
</html>
